<div class="commentItemContainer">
 <p id="commentor"><%=user.name%>:</p>
<p><%= comment.text%></p></>
</div>

# app/views/comments/new.html.erb
<%= form_with(model: Comment.new, url: comments_path) do |form| %>
  <%= form.label :content %>
  <%= form.text_area :content %>
  <%= form.submit "Create Comment" %>
<% end %>
